
.input-box {
    border: 3px solid white;
    padding: 10px;
    width: 200px; 
    margin: 20px auto;
    height: 20px;
}
.box
{
    padding: 10px;
    border-color: white;
    border: 4px solid;
    width:300px;
    height: 330px;
    margin:30px auto;
}
.num
{
    padding: 2px;
    border-color: white;
    border: 1px solid;
    width:50px;
    height:30px;
    margin: 5px;
    display: inline-block;
    border-radius: 30px;
    margin-left: 12px;
}
.f
{
    padding: 2px;
    border-color: white;
    border: 1px solid;
    width: 50px;
    height: 30px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
 
    
}
.z
{
    padding: 2px;
    border-color:white;
    border: 1px solid;
    width: 125px;
    height: 30px;
    display: inline-block;
    border-radius: 30px;
    margin: 5px;
    margin-left: 12px;

}
.s
{
    width: 50px; 
    border-radius: 30px;
    height: 30px; 
    background-color:white;
}
.d
{
    width:125px;
    border-radius: 30px;
    height:30px;
    background-color: white;
}
.g
{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
}